# safelist
branches:
  only:
  - master
  
language: python

python:
 - 3.6.9

install: 
 - pip install -r requirements.txt

script:
- cd Doc
- make html

after_success:
- touch build/html/.nojekyll

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GH_TOKEN
  local_dir: Doc/build/html
  committer_from_gh: true
  on:
    branch: master
